
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo örneği - Kategori</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>SPOR</td>
        <td>Açılama yapıldı.</td>
        <td>True</td>
    </tr>
</table>